---



---

<footer class="pb-12 pt-28 dark:bg-stone-950">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		
		
		
		<div class="mt-4 text-center">
			<span class="text-sm tracking-wide text-gray-500 dark:text-white">© 2023 HacktivSpace Community.  </span>
		</div>
	</div>
</footer>
